<?xml version="1.0" encoding="utf-8"?>
<!-- Release overlay for Google Play: strip Cafe Bazaar's Poolakey receiver and payment permission (billing is Play's). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" tools:node="remove" />
    <queries>
        <package android:name="com.farsitel.bazaar" tools:node="remove" />
    </queries>
    <application>
        <receiver android:name="ir.cafebazaar.poolakey.receiver.BillingReceiver" tools:node="remove" />
    </application>
</manifest>
